<!DOCTYPE html>
<html>
  <head>
    <title>File2anki</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="ui container">
      <% icons = {success: 'smile', error: 'frown', info: 'info', warning: 'warning'} %>
                <% flash.each do |type, message| %>
                  <%= content_tag :div, nil, class: "ui icon #{type} message" do %>
                    <%= content_tag :i, nil, class: "#{icons[type.to_sym]} sign icon" %>
                    <%= content_tag :div, message, class: "content" %>
                  <% end %>
                <% end %>

      <%= yield %>
    </div>
  </body>
</html>
